.cmdt-header {
    display: flex;
    align-items: center;
}

.cmdt-logo {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    margin-left: 0.50rem;
    margin-top: 0.50rem;
}
.cmdt-title {
    text-align: center;
}
.cmdt-title h1 {
    font-size: 4rem;
}